#container, #textarea-form, #new-user-form, #menu-button, #separator-in-header, #disconnected-notification, #page, #map {
   display: none;
}

#inside-container {
  overflow: hidden;
}

#container {
  padding-left: 40px;
  z-index: 700;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;

  bottom: 48px;
  direction: rtl;
  width: 110%;
  background: lavender;
  left: -17px;
/*  padding-right: 11%; */
}

#messages-ul {
direction: ltr;
padding: 100px 0 30px 0;
list-style-type: none;

}

#map { height: 300px }

.message-container {
  margin-bottom: 10px;
  margin-top: 5px;
}

.message-sender {
  margin-bottom: 5px;
}

.message-p {
  margin-bottom: 8px;
}


#bottom-row {
  background: #000;
  padding: 4px 4px;
  width: 100%;
  z-index: 1000;
  height: 48px;
  position: fixed;
  bottom: 0px;
}

#site-header {
  background: #000;
  height: 42px;
  padding: 10px 22px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1010;

}

#header-right {
  float: right;
}

#name-in-header {
  float: left;
}

#user-online-list {
  height: 92px;
  overflow: scroll;
  list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.form-width {
  max-width: 600px;
  margin: 0px auto;
}

form input {
  padding: 4px 16px;
  width: 63%;
  border-radius: 20px;
  border: none;
  background: lavender;
  font-family: inherit;
}

form button {
  position: fixed;
}

.menu-btn {
  float: left;
  margin-right: 0.75%;
}

.button {
  font-size: 1em;
  background: #000;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border: 0px;
  padding: 6px 20px;
}
/*
.button:hover {
  color: #ffc100;
  font-size: 1.0em;
  text-align: center;
}*/

#add-location {
    padding: 17px;
    border: none;
    background: lightgrey;
    font-size: 1.1em;
    float: left;
    width: 49%;
}

#search-location {
    padding: 17px;
    border: none;
    background: lightgrey;
    font-size: 1.1em;
    float: right;
    width: 50%;

}

input:focus, button:focus, textarea:focus {
    outline: 0;
}

#go-offline {
  padding: 14px;
  font-family: inherit;
  background-color: lightgreen;
  border: none;
  }

#cancel-offline {
  padding: 14px;
  font-family: inherit;
  background-color: orangered;
  border: none;
  color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.7em;
}
::-moz-placeholder { /* Firefox 19+ */
  cfont-size: 0.7em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.7em;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.7em;
}

::placeholder {
  font-size: 0.8em;
}

#system-message {
    color: coral;
    margin: 10px 0;
    position: fixed;
    top: 40px;
    z-index: 9999;
    padding: 20px;
}

.wordwrap {
          white-space: pre-wrap;      /* CSS3 */
          white-space: -moz-pre-wrap; /* Firefox */
          white-space: -pre-wrap;     /* Opera <7 */
          white-space: -o-pre-wrap;   /* Opera 7 */
          word-wrap: break-word;      /* IE */
}

.notification-container {
  font-size: 0.9em;
  background: paleturquoise;
  padding: 7px;
  margin-bottom: 6px;
}

#disconnected-notification {
  font-size: 0.8em;
  background: paleturquoise;
  padding: 12px;
  margin-top: 5px;
  position: fixed;
  bottom: 48px;
  height: 42px;
  width: 100%;
  z-index: 9999;

}

.welcome-text {
  font-size: 1em;
  line-height: 1.3em;
}

.time {
  color: lightsteelblue;
  font-size: 0.7em;
}

.time-right {
  color: lightsteelblue;
  font-size: 0.7em;
  text-align: right;
}

.v { text-decoration: line-through; }

.green-text { color: #41B787 }
.red-text { color: red }

#account-data-table { width: 100%; font-size: 0.6em }
.align-right { text-align: right;padding-right: 3px;  }

.front-page-help {
  color: lightgrey;
  font-size: 0.8em;
  text-decoration: none;
}


.fa-telegram-plane {
  padding: 1px 0 0 2px;
   font-size: 1.2em;
}

.fa-bars {
  padding: 2px 3px 0px 1px;
    font-size: 1.05em;
}

.chart-container{
    height: 183px;
}

.fa-user {
  font-size: 0.8em;
  top: -1px;
position: relative;
}

.fa-times-circle {
  color: whitesmoke;
font-size: 1.8em;
margin: 4px 0;
text-align: center;
width: 100%;
}

.online-user {
  color: #41B787;
}

.member-list {
  font-size: 0.7em;
  color: #b3b3b1;
margin-bottom: 1px;

}

#select-menu {
  position: fixed;
  bottom: 95px;
  background: #191918;
  width: 80%;

}

.strong-weight {
  font-weight: 900;
}

.straight-number {
  font-family: 'Prompt', sans-serif;
}

.btn-in-menu {

}

textarea {
  /* display: block; */
  box-sizing: padding-box;
  /* overflow: hidden; */
  padding: 4px 16px;
  max-width: 520px;
  font-size: 1em;
  border-radius: 20px;
  border: 0px solid #000;
  background: lavender;
  font-family: inherit;
  width: 63%;
  bottom: 5px;
  position: absolute;
}

.send-btn {
  position: relative;
  left: 65%;
}


#page {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(250, 250, 250, .7);
  padding: 42px 20px 48px 20px;
  z-index: 2000;
}

.page-content {
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 1);
  padding: 5px;
  overflow-y: scroll;
  font-size: 0.72em;
}

.page-title {
    font-size: 1.8em;
    margin: 22px 0;
    text-align: center;
    width: 100%;
}

.tx-type {
  padding-right: 5px;
  font-size: 0.6em;
  top: 3px;
  position: relative;
}

.tx-date {
width:48px;
}
.tx-date-y {
text-align: left;
width: 28px;
}
.tx-from {
  padding-right: 12px;
  font-size: 1.05em;
}
.tx-for {
  padding-right: 12px;
  max-width: 130px;
  word-wrap: break-word;
  font-size: 1.05em;

}
.tx-credit {

}
.tx-balance {
}
.tx-fee {
padding-left: 12px;
}
.tx-burned {

}
.tx-tt0 {

}
