/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
/* body {font: 19px Helmet, Freesans, sans-serif;} */
body {font-size: 20px; font-family: 'Prompt', sans-serif;line-height: 1.2em;};

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333; background: lavender}


a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {padding: 16px; background: #eee;}



/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {

  #container {
    padding-right: 11%;
  }

}

@media screen and (max-width: 550px) {

  .hide-cell {
    display: none;
  }
}

@media screen and (min-width: 481px) {

  .form-width {
    padding: 0 20px;
  }


  .button:hover, .pushy a:hover, .pushy-submenu button:hover {
    color: #ffc100;
  }

  #bottom-row {
    padding-top: 6px;
  }


}

@media screen and (min-width: 550px) {

  #container {
    padding-right: 33%;
  }

}

/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}
